<script type="text/ng-template" id="widget-header-display.html">
	<include file="DiyTemplate/header"/>
</script>
<script type="text/ng-template" id="widget-richtext-display.html">
	<include file="DiyTemplate/richtext"/>
</script>
<script type="text/ng-template" id="widget-goods-display.html">
	<include file="DiyTemplate/goods"/>
</script>
<script type="text/ng-template" id="widget-mutipic_goods-display.html">
  <include file="DiyTemplate/mutipic_goods"/>
</script>
<script type="text/ng-template" id="widget-banner-display.html">
	<include file="DiyTemplate/banner"/>
</script>
<script type="text/ng-template" id="widget-mutipic_banner-display.html">
	<include file="DiyTemplate/mutipic_banner"/>
</script>
<script type="text/ng-template" id="widget-piclist-display.html">
	<include file="DiyTemplate/piclist"/>
</script>
<script type="text/ng-template" id="widget-blank-display.html">
	<include file="DiyTemplate/blank"/>
  </script>
 <script type="text/ng-template" id="widget-title-display.html">
	<include file="DiyTemplate/title"/>
  </script>
  <script type="text/ng-template" id="widget-textnav-display.html">
	<include file="DiyTemplate/textnav"/>
  </script>
   <script type="text/ng-template" id="widget-picnav-display.html">
	<include file="DiyTemplate/picnav"/>
  </script>
  <script type="text/ng-template" id="widget-searchgoods-display.html">
	<include file="DiyTemplate/searchgoods"/>
  </script>
  <script type="text/ng-template" id="widget-blankline-display.html">
	<include file="DiyTemplate/blankline"/>
  </script>
  <script type="text/ng-template" id="widget-case-display.html">
	<include file="DiyTemplate/case"/>
  </script>
  <script type="text/ng-template" id="widget-notice-display.html">
	<include file="DiyTemplate/notice"/>
  </script>
  <script type="text/ng-template" id="widget-usercenter-display.html">
	<include file="DiyTemplate/usercenter"/>
  </script>
  <script type="text/ng-template" id="widget-goodsdetail-display.html">
	<include file="DiyTemplate/goodsdetail"/>
  </script>
<script type="text/ng-template" id="widget-fixedmodule-display.html">
	<include file="DiyTemplate/fixedmodule"/>
</script>